/elmo/1-billion-word/
/elmo/sentence-polarity-dataset-v1/
/elmo/1-billion-word.tar.gz
/elmo/sentence-polarity-dataset-v1.tar.gz
/word2vec/data/
/word2vec/embedding-100.pth
/.idea
/machine_translation/data/2015-01/
/machine_translation/data/2015-01.tgz
/machine_translation/data/zh-en/
